body {
    background-image: url("../images/weyland.jpg");
    text-align: center;
    color: white;
}


#start {
    visibility: visible;
}

#quiz {
    visibility: hidden;
}

#results {
    visibility: hidden;
}